.table th {
    color: black;
}

.tableCard{
    padding: 4px;
    border-radius: 10px;
    width: 74vw;
    background-color: white;
}

.button-small {
    float: inline-end;
    position: absolute;
    top: 21%;
    right: 10%;
}