.customerCard{
    min-width: fit-content;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
}

.klanten-table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}

.klanten-table a {
    color: #007bff;
    text-decoration: none;
}

.klanten-table a:hover {
    text-decoration: underline;
}