
.customerCard{
    min-width: fit-content;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
}

.klanten-table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}

.klanten-table th, .klanten-table td {
    border: 1px solid #dee2e6;
    padding: 10px;
    text-align: left;
    font-size: 0.9rem;
}

.klanten-table th {
    background-color: #f8f9fa;
    color: #343a40;
    font-weight: bold;
}

.klanten-table a {
    color: #007bff;
    text-decoration: none;
}

.klanten-table a:hover {
    text-decoration: underline;
}

.button-small {
    padding: 5px 10px;
    background-color: #343a40;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.8rem;
}

.button-small:hover {
    background-color: #495057;
}