.table th {
    color: black;
}

.tableCard{
    padding: 4px;
    border-radius: 10px;
    width: 74vw;
    background-color: white;
}

.button-small {
    float: inline-end;
    position: relative;
    top: 1rem;
    right: 10rem;
}