.table {
    font-size: 0.8rem !important;
    /* Verklein de lettergrootte */
    min-width: -webkit-fill-available;
    border-collapse: collapse;
}

/* Maak de thead sticky */
.table thead {
    position: sticky;
    top: 0; /* Zorgt ervoor dat de thead aan de bovenkant blijft */
    z-index: 2000; /* Zorgt ervoor dat de thead boven de inhoud blijft */
    background-color: #343a40; /* Achtergrondkleur behouden */
}

.table th,
.table td {
    padding: 0.5rem;
    /* Verklein de celruimte */
    vertical-align: middle;
}

.table th {
    border-left: 1px solid #DEE2E6;
    border-right: 1px solid #DEE2E6;
}

thead th:first-child {
    border-left: none;
}

thead th:last-child {
    border-right: none;
}

.card .card-title {
    font-size: 1rem;
    /* Verklein de titels in de kaarten */
}

.card-body {
    padding: 1rem;
    /* Maak de kaarten compacter */
}

.caption {
    font-size: 3vw;
    font-weight: 700;
    text-align: center;
    display: flex;
    padding: 2rem;
    position: static;
    background-color: darkgray;
    min-width: 45vw;
    max-width: 60vw;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.caption span {
    font-size: 2rem;
}

.btn-group-sm>.btn,
.btn-sm {
    margin: 1rem;
}

@media only screen and (max-width: 1750px) {
    .btn-group-sm>.btn,
.btn-sm {
    margin-left: unset;
    margin-bottom: 2%;
}

.caption {
    flex-direction: column;
    padding: unset;
    margin: auto;
}


.caption span {
    position: relative;
}

.fixItems {
    background-color: darkgray;
    position: sticky;
    top: 0;
    z-index: 10;
    overflow: auto;
}
}

@media only screen and (max-width: 900px) {
  
    .caption span {
      font-size: 4vw;
  }
  }

.button-small {
    padding: 5px 10px;
    background-color: #343a40;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9vw;
    margin: 0 1%;
}

.button-small:hover {
    background-color: #495057;
}

.table-striped tbody tr:nth-of-type(odd) {
    --bs-table-bg: #f8f9fa; /* Lichtgrijs voor oneven rijen */
    --bs-table-color: inherit; /* Zorgt dat de tekstkleur niet verandert */
}

.table-striped tbody tr:nth-of-type(even) {
    --bs-table-bg: #ffffff; /* Wit voor even rijen */
    --bs-table-color: inherit; /* Zorgt dat de tekstkleur niet verandert */
}

table tbody tr:hover {
    --bs-table-bg: #f8f9fa83 !important; /* Wit voor even rijen */
    --bs-table-color: inherit; /* Zorgt dat de tekstkleur niet verandert */
    cursor: pointer;
}

.saveAll {
    font-size: 0.9vw;
}

.alignTables {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.table-responsive {
    overflow-y: auto; /* Verticale scrollbar indien nodig */
    overflow-x: auto; /* Horizontale scrollbar indien nodig */
    position: relative;
}

.fullTable {
    margin: auto;
    width: 60vw;
    overflow: auto;
}

@media only screen and (max-width: 1245px) {
    .fullTable {
        width: 92vw;
    }
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    float: inline-end;
}