.table {
    font-size: 0.8rem !important;
    /* Verklein de lettergrootte */
    min-width: -webkit-fill-available;
}

.table th,
.table td {
    padding: 0.5rem;
    /* Verklein de celruimte */
    vertical-align: middle;
}

.card .card-title {
    font-size: 1rem;
    /* Verklein de titels in de kaarten */
}

.card-body {
    padding: 1rem;
    /* Maak de kaarten compacter */
}

.caption {
    font-size: 3vw;
    font-weight: 700;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    position: static;
    background-color: darkgray;
    min-width: 25vw;
    max-width: 45vw;
}

.caption span {
    font-size: 2rem;
    position: absolute;
}

.btn-group-sm>.btn,
.btn-sm {
    margin-left: 42rem;
}

@media only screen and (max-width: 1750px) {
    .btn-group-sm>.btn,
.btn-sm {
    margin-left: unset;
}

.caption {
    flex-direction: column;
}


.caption span {
    padding-bottom: 1rem;
    position: relative;
}

.fixItems {
    background-color: darkgray;
    position: sticky;
    top: 0;
    z-index: 10;
}
}

.flexTables {
    display: flex;
    max-width: fit-content;
    gap: 20px;
    margin: auto;
}

.flexTables .table-responsive .caption span {
    font-size: 2rem;
    padding: unset;
}

.button-small {
    padding: 5px 10px;
    background-color: #343a40;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9vw;
    margin: 0 1%;
}

.button-small:hover {
    background-color: #495057;
}

.table-striped tbody tr:nth-of-type(odd) {
    --bs-table-bg: #f8f9fa; /* Lichtgrijs voor oneven rijen */
    --bs-table-color: inherit; /* Zorgt dat de tekstkleur niet verandert */
}

.table-striped tbody tr:nth-of-type(even) {
    --bs-table-bg: #ffffff; /* Wit voor even rijen */
    --bs-table-color: inherit; /* Zorgt dat de tekstkleur niet verandert */
}

.table>:not(caption)>*>* {
    box-shadow: none !important; /* Verwijder de box-shadow die de kleuren veroorzaakt */
}

.saveAll {
    font-size: 0.9vw;
}

.alignTables {
    display: flex;
    flex-direction: column;
    align-items: center;
}