{% extends 'base.html' %}

{% block title %} Inkoop {% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') }}" />

<h1 class="text-center alignH1">Dashboard Inkoop</h1>

<div class="alignTables">

    <!-- Inkoop Tabel -->
    <div class="fullTable">
        <div class="caption">
            <span>Inkoopoverzicht</span>
        </div>
        <div class="table-responsive mb-4">
            <table class="table table-bordered table-striped table-hover table-sm text-center fs-6">
                <thead class="table-dark">
                    <tr>
                        <th>Inkoop ID</th>
                        <th>Product</th>
                        <th>Aantal</th>
                        <th>Besteldatum</th>
                        <th>Prijs per eenheid</th>
                        <th>Leverancier</th>
                    </tr>
                </thead>
                <tbody>
                    {% for inkoop in inkoop %}
                    <tr>
                        <td>{{ inkoop[0] }}</td>  <!-- Inkoop ID -->
                        <td>{{ inkoop[1] }}</td>  <!-- Productnaam -->
                        <td>{{ inkoop[2] }}</td>  <!-- Aantal -->
                        <td>{{ inkoop[3] }}</td>  <!-- Besteldatum -->
                        <td>€{{ inkoop[4] }}</td>  <!-- Prijs per eenheid -->
                        <td>{{ inkoop[5] }}</td>  <!-- Leverancier -->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>

<script src="{{ url_for('static', filename='js/tables.js') }}" defer></script>
{% endblock %}