{% extends 'base.html' %} {% block title %} Klanten {% endblock %} {% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') }}" />

<h1 class="text-center alignH1">Dashboard Klanten</h1>

<div class="alignTables">
  <!-- Klanten Tabel -->
  <div class="fullTable">
    <div class="caption">
      <span>Klantenlijst</span>
      <a href="{{ url_for('views.financien_toevoegen') }}" class="btn btn-sm btn-dark">Financiën toevoegen</a>
    </div>
    <div class="table-responsive mb-4">
      <table class="table table-bordered table-striped table-hover table-sm text-center fs-6">
        <thead class="table-dark">
          <tr>
            <th>Klant ID</th>
            <th>Naam</th>
            <th>Adres</th>
            <th>Telefoon</th>
            <th>Jaaromzet</th>
            <th>Acties</th>
          </tr>
        </thead>
        <tbody>
          {% for klant in klanten %}
          <tr>
            <td>{{ klant[0] }}</td>
            <!-- Klant ID -->
            <td>{{ klant[1] }}</td>
            <!-- Naam -->
            <td>{{ klant[2] }}</td>
            <!-- Adres -->
            <td>{{ klant[3] }}</td>
            <!-- Telefoonnummer -->
            <td>€{{ klant[4] | round(2) }}</td>
            <!-- Jaaromzet -->
            <td>
              <a class="btn btn-dark" href="{{ url_for('views.financien', klant_id=klant[0]) }}"> Financiën </a>
              <br /><br />
              <a class="btn btn-warning" href="{{ url_for('views.financien_toevoegen', klant_id=klant[0]) }}"> Wijzigen </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='js/tables.js') }}" defer></script>
{% endblock %}
