{% extends 'base.html' %}

{% block title %}Koeriers{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/koeriers.css') }}">

<h1 class="dashboardTitle">Dashboard Koeriers</h1>

<div class="main-content">
    <div class="section">
        <h2 class="title red">SPOED</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Track&</th>
                    <th>Levermoment</th>
                    <th>Adres</th>
                    <th>Koerier</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Trace AAAA1</td>
                    <td>9:00 - 12:00</td>
                    <td>Alibabawaeg 6, 1234 Aalst</td>
                    <td>Adrian <button class="button">Klant info</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="section">
        <h2 class="title">Leveringen</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Track&</th>
                    <th>Levermoment</th>
                    <th>Adres</th>
                    <th>Koerier</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Trace BBBB2</td>
                    <td>Middag</td>
                    <td>Bamazon 1, 4321 Breda</td>
                    <td>Ben <button class="button">Klant info</button></td>
                </tr>
                <tr>
                    <td>Trace CCCC3</td>
                    <td>Middag</td>
                    <td>Cemu 56, 1122 Cuijk</td>
                    <td>Chrisi <button class="button">Klant info</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}