{% extends 'base.html' %}

{% block title %} Verkoop {% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') }}" />

<h1 class="text-center alignH1">Dashboard Verkoop</h1>

<div class="alignTables">

    <!-- Verkoop Tabel -->
    <div class="fullTable">
        <div class="caption">
            <span>Verkooptransacties</span>
        </div>
        <div class="table-responsive mb-4">
            <table class="table table-bordered table-striped table-hover table-sm text-center fs-6">
                <thead class="table-dark">
                    <tr>
                        <th>Verkoop ID</th>
                        <th>Klant</th>
                        <th>Bestelling ID</th>
                        <th>Datum</th>
                        <th>Totaal Bedrag</th>
                        <th>Betaalstatus</th>
                    </tr>
                </thead>
                <tbody>
                    {% for verkoop in verkoop %}
                    <tr>
                        <td>{{ verkoop[0] }}</td>  <!-- Verkoop ID -->
                        <td>{{ verkoop[1] }}</td>  <!-- Klantnaam -->
                        <td>{{ verkoop[2] }}</td>  <!-- Bestelling ID -->
                        <td>{{ verkoop[3] }}</td>  <!-- Datum -->
                        <td>€{{ verkoop[4] }}</td>  <!-- Totaal Bedrag -->
                        <td>{{ verkoop[5] }}</td>  <!-- Betaalstatus -->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}