{% extends 'base.html' %} {% block title %} Voorraad {% endblock %} {% block head %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/voorraadToevoegen.css') }}" />
{% endblock %} {% block content %}
<div class="container mt-5">
  <h1 class="text-center alignH1">Voorraad Toevoegen</h1>

  <form method="POST" action="{{ url_for('views.voorraadToevoegen') }}" class="needs-validation" novalidate>
    <div class="mb-3">
      <label for="Location" class="form-label">Locatie</label>
      <select class="form-select" id="location" name="location" required>
        <option value="" selected disabled>Kies een locatie</option>
        {% for locatie in locaties %}
        <option value="{{locatie[0]}}">{{ locatie[1]}}</option>
        {% endfor %}
      </select>
      <div class="invalid-feedback"> Selecteer een locatie. </div>
    </div>

    <div class="mb-3">
      <label for="product" class="form-label">Product</label>
      <select class="form-select" id="product" name="product" required>
        <option value="" selected disabled>Kies een product</option>
        {% for product in producten %}
        <option value="{{product[0]}}">{{ product[1]}}</option>
        {% endfor %}
      </select>
      <div class="invalid-feedback"> Selecteer een product. </div>
    </div>

    <div class="mb-3">
      <label for="Batchnumber" class="form-label">Batchnummer</label>
      <input type="text" class="form-control" id="batchnumber" name="batchnumber" placeholder="Bijv. BATCH001" required />
      <div class="invalid-feedback"> Vul een batchnummer in. </div>
    </div>

    <div class="mb-3">
      <label for="amount" class="form-label">Aantal</label>
      <input type="number" class="form-control" id="amount" name="amount" placeholder="Bijv. 10" required min="1" />
      <div class="invalid-feedback"> Vul een geldig aantal in. </div>
    </div>

    <button type="submit" class="btn btn-dark w-100 mt-3">Toevoegen</button>
  </form>
</div>

{% endblock %}
