{% extends 'base.html' %}

{% block title %} Voorraad {% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">

<h1 class="text-center mb-4">Dashboard Voorraad</h1>

<!-- Voorraad Tabel -->
<div class="table-responsive mb-4">
    <div class="caption">
        <span>Voorraad</span>
        <a href="{{ url_for('views.voorraadProductToevoegen') }}" class="btn btn-sm btn-dark">Product toevoegen</a>
    </div>
    <table class="table table-bordered table-striped table-hover table-sm text-center fs-6">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Product</th>
                <th>Batchnummer</th>
                <th>Bewaardadvies</th>
                <th>Locatie</th>
                <th>Aantal</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>00001</td>
                <td>Banaan</td>
                <td>00001</td>
                <td>Diepvries</td>
                <td>A12</td>
                <td>2</td>
            </tr>
            <tr>
                <td>00002</td>
                <td>Appel</td>
                <td>00002</td>
                <td>Koeling</td>
                <td>B01</td>
                <td>5</td>
            </tr>
            <tr>
                <td>00003</td>
                <td>Komkommer</td>
                <td>00003</td>
                <td>Donker</td>
                <td>C07</td>
                <td>3</td>
            </tr>
            <tr>
                <td>00004</td>
                <td>Avocado</td>
                <td>00004</td>
                <td>Kast</td>
                <td>D09</td>
                <td>11</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="flexTables">
    <div class="table-responsive mb-4">
        <!-- Te vernietigen -->
        <div class="caption">
            <span>Te vernietigen tot {datum}</span>
        </div>
        <table class="table table-bordered table-striped table-hover table-sm text-center fs-6">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Product</th>
                    <th>Locatie</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>00002</td>
                    <td>Appel</td>
                    <td>B01</td>
                </tr>
                <tr>
                    <td>00001</td>
                    <td>Banaan</td>
                    <td>A12</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Kosten -->
    <div class="table-responsive mb-4">
        <div class="caption">
            <span>Inkoopkosten</span>
        </div>
        <table class="table table-bordered table-striped table-hover table-sm text-center fs-6">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Product</th>
                    <th>Locatie</th>
                    <th>Prijs</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>00002</td>
                    <td>Appel</td>
                    <td>B01</td>
                    <td>€3,-</td>
                </tr>
                <tr>
                    <td>00001</td>
                    <td>Banaan</td>
                    <td>A12</td>
                    <td>€2,-</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}